Repository InnoPhaseIoT/connectedhomeip: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make_lighting-app, make_light-switch-app, make_lock-app, make_contact-sensor-app, make_air-quality-sensor-app, make_pump-app, make_window-app, make_smoke-co-alarm-app, make_tv-app, make_speaker, make_thermostat, make_chiptool, make_ota_provider

Path conditions:
  make_lighting-app: any of: examples/lighting-app/**/*
  make_light-switch-app: any of: examples/light-switch-app/**/*
  make_lock-app: any of: examples/lock-app/**/*
  make_contact-sensor-app: any of: examples/contact-sensor-app/**/*
  make_air-quality-sensor-app: any of: examples/air-quality-sensor-app/**/*
  make_pump-app: any of: examples/pump-app/**/*
  make_window-app: any of: examples/window-app/**/*
  make_smoke-co-alarm-app: any of: examples/smoke-co-alarm-app/**/*
  make_tv-app: any of: examples/tv-app/**/*
  make_speaker: any of: examples/speaker/**/*
  make_thermostat: any of: examples/thermostat/**/*
  make_chiptool: any of: examples/chip-tool/**/*
  make_ota_provider: any of: examples/ota-provider-app/**/*

smoke-co-alarm-app: Fix for :T2FSW-248
  examples/smoke-co-alarm-app/talaria/README.md
  examples/smoke-co-alarm-app/talaria/main.cpp
  examples/smoke-co-alarm-app/talaria/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/smoke-co-alarm-app/talaria/smoke-co-alarm-common/smoke-co-alarm-app.zap
  src/platform/talaria/hio/matter.h
Due: make_smoke-co-alarm-app

talaria: Fix for T2FSW-1245
  examples/lock-app/talaria/Makefile
  examples/lock-app/talaria/args.gni
  examples/lock-app/talaria/test.cpp
Due: make_lock-app

matter-ota: Fix for : T2FSW-1213, T2FSW-1222
  examples/air-quality-sensor-app/talaria/test.cpp
  examples/contact-sensor-app/talaria/test.cpp
  examples/light-switch-app/talaria/test.cpp
  examples/lighting-app/talaria/test.cpp
  examples/lock-app/talaria/test.cpp
  examples/pump-app/talaria/test.cpp
  examples/smoke-co-alarm-app/talaria/test.cpp
  examples/speaker/talaria/test.cpp
  examples/temperature-measurement-app/talaria/test.cpp
  examples/thermostat/talaria/test.cpp
  examples/tv-app/talaria/test.cpp
  examples/window-app/talaria/test.cpp
  src/platform/talaria/Config.cpp
  src/platform/talaria/Config.h
  src/platform/talaria/ConfigurationManagerImpl.cpp
  src/platform/talaria/ConfigurationManagerImpl.h
  src/platform/talaria/NetworkCommissioningDriver.cpp
  src/platform/talaria/OTAImageProcessorImpl.cpp
  src/platform/talaria/OTAImageProcessorImpl.h
Due: make_lighting-app, make_light-switch-app, make_lock-app, make_contact-sensor-app, make_air-quality-sensor-app, make_pump-app, make_window-app, make_smoke-co-alarm-app, make_tv-app, make_speaker, make_thermostat

matter-ota: talaria: Image integrity check on host: T2FSW-897
  examples/lock-app/talaria/main.cpp
  src/platform/talaria/OTAImageProcessorImpl.cpp
  src/platform/talaria/OTAImageProcessorImpl.h
  src/platform/talaria/hio/matter.h
  src/platform/talaria/hio/matter_hio.c
Due: make_lock-app

smoke-co-alarm-app: Fix for :T2FSW-1266
  examples/smoke-co-alarm-app/talaria/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/smoke-co-alarm-app/talaria/smoke-co-alarm-common/smoke-co-alarm-app.zap
Due: make_smoke-co-alarm-app

matter-ota: Update firmware version on success: T2FSW-1213
  src/platform/talaria/Config.cpp
  src/platform/talaria/Config.h
  src/platform/talaria/OTAImageProcessorImpl.cpp
Due: none

window-app: Fix race condition for custom ota check: T2FSW-1242
  examples/window-app/talaria/test.cpp
Due: make_window-app

talaria: Disable WCM PM when commissioning window is open
  examples/platform/talaria/common/DeviceCommissioningInterface.cpp
  examples/platform/talaria/common/DeviceCommissioningInterface.h
  examples/window-app/talaria/test.cpp
  src/platform/talaria/OTAImageProcessorImpl.cpp
  src/platform/talaria/TalariaUtils.cpp
  src/platform/talaria/TalariaUtils.h
Due: make_window-app

talaria: Fix for :T2FSW-1269
  src/platform/talaria/KeyValueStoreManagerImpl.cpp
Due: none

lock-app: Heap optimization: T2FSW-1269
  examples/lock-app/talaria/include/CHIPProjectAppConfig.h
  src/platform/talaria/hio/matter_hio.c
Due: make_lock-app

window-cover app: Fix for : T2FSW-1309
  examples/window-app/talaria/data-model/window-app.matter
  examples/window-app/talaria/data-model/window-app.zap
Due: make_window-app

talaria: Return default value if not available: T2FSW-1298
  src/platform/talaria/ConfigurationManagerImpl.cpp
Due: none

thermostat-app: Fix for: T2FSW-1327
  examples/thermostat/talaria/main.cpp
  src/platform/talaria/hio/matter.h
  src/platform/talaria/hio/matter_hio.c
Due: make_thermostat

thermostat-app: Fix for HIO Init Delay: T2FSW-1327
  examples/thermostat/talaria/main.cpp
Due: make_thermostat

aqs: talaria: Fix for cluster revision: T2FSW-1339
  examples/air-quality-sensor-app/talaria/data-model/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/talaria/data-model/air-quality-sensor-app.zap
Due: make_air-quality-sensor-app

Revert "aqs: talaria: Fix for cluster revision: T2FSW-1339"
  examples/air-quality-sensor-app/talaria/data-model/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/talaria/data-model/air-quality-sensor-app.zap
Due: make_air-quality-sensor-app

window-app : WindowCovering app Operational status support : T2FSW-1343
  examples/window-app/talaria/main.cpp
Due: make_window-app

window-app: Fix for JIRA: T2FSW-1344
  examples/window-app/talaria/data-model/window-app.matter
  examples/window-app/talaria/data-model/window-app.zap
Due: make_window-app

[Talaria] Add support to factory reset for hosted platforms
  examples/air-quality-sensor-app/talaria/main.cpp
  examples/light-switch-app/talaria/data-model/light-switch-app.matter
  examples/light-switch-app/talaria/data-model/light-switch-app.zap
  examples/light-switch-app/talaria/main.cpp
  examples/lighting-app/talaria/BUILD.gn
  examples/lighting-app/talaria/talaria_aws_iot/compile_aws_sdk.sh
  examples/lock-app/talaria/README.md
  examples/lock-app/talaria/main.cpp
  examples/platform/talaria/common/Utils.cpp
  examples/platform/talaria/common/Utils.h
  examples/smoke-co-alarm-app/talaria/README.md
  examples/smoke-co-alarm-app/talaria/main.cpp
  examples/speaker/talaria/README.md
  examples/speaker/talaria/main.cpp
  examples/thermostat/talaria/README.md
  examples/thermostat/talaria/main.cpp
  examples/tv-app/talaria/README.md
  examples/tv-app/talaria/main.cpp
  src/platform/talaria/hio/matter.h
  src/platform/talaria/hio/matter_hio.c
Due: make_lighting-app, make_light-switch-app, make_lock-app, make_air-quality-sensor-app, make_smoke-co-alarm-app, make_tv-app, make_speaker, make_thermostat
